.background {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

.title1 {
  font-size: 60px;
  font-family: fantasy;
  color: rgb(166, 79, 7);
  display: flex;
  justify-content: center;
}

.img1 {
  height: 300px;
  width: 40%;
  border-radius: 1000px;
  display: flex;
  justify-content: left;
  position: absolute;
  margin-top: 50px;
  margin-left: 150px;
}

.menu {
  background-color: rgb(236, 219, 90);
  height: 150px;
  width: 85%;
  border-radius: 100px;
  font-size: 20px;
  font-family: fantasy;
  box-shadow: 10px 10px rgb(171, 170, 170);
  list-style: none;
  margin-top: 250px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.menutext {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 40px;
}

.title2 {
  font-size: 20px;
  font-family: fantasy;
  color: rgb(166, 79, 7);
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.video1 {
  border-style: dotted;
  border-color: rgb(97, 191, 183);
  display: flex;
  justify-content: center;
}
