.allButton {
  background-color: #edd2ed;
}

html,
.body1 {
  height: 600px;
  overflow: hidden;
}

.body1 {
  color: #6699cc;

  font-size: 22px;
  font-weight: bold;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #edd2ed;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(lightblue, 0.4), rgba(plum, 0.4)),
    url("https://i.imgsafe.org/1fee5c9.jpg");
}

.fancy-button {
  position: relative;
  display: block;
  cursor: pointer;
  perspective: 1800px;

  .fancy-flipper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
    transition: transform 0.3s ease;
  }

  .fancy-front,
  .fancy-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: #f4f1f4;
    svg {
      display: block;
    }
  }
  &:hover {
    .fancy-flipper {
      transform: rotateX(0deg);
    }
  }
  &:active {
    .fancy-flipper {
      transform: rotateX(0deg) scale(0.95);
      transition: transform 0.05s ease;
    }
  }
  .button-text {
    letter-spacing: 0.01em;
    font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
  }
}
