body {
  margin: 10px;
  background-color: rgb(69, 67, 67);
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
  color: white;
  font-weight: 500;
}

input[type="text"],
input[type="email"] {
  border: 3px solid rgb(19, 181, 118);
  border-radius: 5px;
  padding: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 3px solid rgb(94, 8, 241);
  box-shadow: 0 0 0 4px goldenrod;
  outline: 0;
}

.form-group {
  margin-bottom: 10px;
}

button {
  background-color: brown;
  color: white;
  border: 0;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}
