<div class="lorem-ipsum">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate adipisci
  saepe ex recusandae vitae! Minima possimus sapiente dolore tempora non natus
  autem quis ullam ab pariatur, sed perferendis nesciunt praesentium? Lorem
  ipsum dolor sit, amet consectetur adipisicing elit. Saepe maiores tempora
  veritatis. Explicabo numquam soluta facere iusto unde asperiores aspernatur
  inventore quos, omnis itaque quis vel consequuntur, sed rem fugit?
</div>

<div class="topic">
  <div class="topic-title">topic-titel</div>
  <div class="topic-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugiat quasi
    repudiandae harum quas voluptatibus temporibus maiores sint nulla dolore
    explicabo recusandae, aperiam error quibusdam fuga ipsam ipsum tenetur
    inventore.
  </div>
</div>

<router-outlet></router-outlet>
