.myCard {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin-top: 20px;
}
.card {
  width: 230px;
  height: 340px !important;
}

.buyButton {
  position: sticky;
  bottom: 0;
}
